.upload-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .horizontal-list .ant-upload-list-picture-card-container {
    display: inline-block;
    margin-right: 10px; /* Spacing between items */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow */
    border-radius: 8px; /* Optional: Add rounded corners */
    overflow: hidden; /* Ensure content stays within the rounded corners */
  }
  
  .upload-circle {
    display: inline-block;
    width: 100px; /* Adjust size as needed */
    height: 100px; /* Adjust size as needed */
    border-radius: 2%;
    background-color: #c7dde0;
    border: 2px dashed #8c8c8c;

    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow to the upload circle */
    cursor: pointer;
  }
  
  
  .upload-circle:hover {
    border-color: #232323;
  }
  
  .horizontal-list .ant-upload-list {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .horizontal-list .ant-upload-list-item {
    margin-right: 10px;
  }
  