.profile-container {
  display: grid;
  grid-template-columns: 1.5fr 1fr; /* Adjusted to give more space to the image */
  grid-template-rows: auto 1fr;
  gap: 10px;
  width: 100%;
  /* max-width: 800px; */
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;

  height: auto;
  box-sizing: border-box;
  background-color: transparent; /* Transparent background to blend with parent container */
}

.profile-image {
  grid-row: span 2;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto !important;
  height: 100%; /* Ensures the image takes full height of the grid area */
}

.profile-image img {
  width: 50%;
  height: auto;
  max-height: 100%; 
  object-fit: cover;
  border-radius: 10px; /* Rounded corners for the image */
  filter: blur(40px); 

}
.blur-text {
  filter: blur(7px); /* Adjust the blur radius as needed */
}

.profile-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 20px;
  align-items: center;
}

.profile-details h2 {
  margin: 0;
  font-size: 1.5em;
  font-weight: bold;
  color: #333;
}

.profile-details p {
  margin: 5px 0;
  color: #555;
}

.profile-summary {
  display: grid;
  justify-content: space-between;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  padding: 20px;
  border-radius: 10px;
  background-color: #f7eff1;
}

.summary-column {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.summary-column p {
  background-color: #f0f0f0;
  padding: 8px;
  border: none;
  color: #444;
  font-size: 0.9em;
  border-radius: 5px;
}

.label {
  font-weight: bold;
  color: #333;
  margin-right: 5px;
}

.navbar {
  width: 100%;
  background-color: #001529;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

.ant-menu-item {
  font-size: 16px;
  color: #fff;
}

.ant-menu-dark .ant-menu-item-selected {
  background-color: #1890ff;
}

.ant-btn-primary {
  background-color: #d4380d;
  border-color: #d4380d;
}

@media (max-width: 768px) {
  .profile-container {
    display: flex;
    flex-direction: column;
    height: auto; /* Adjust height to fit content */
    padding: 15px;
  }

  .profile-image {
    grid-row: auto; /* Remove grid-row for stacking */
    width: 100%;
    height: 50vh; /* Allow height to adjust with content */
    margin-bottom: 20px; /* Add some space below the image */
  }

  .profile-image img {
    max-height: 50vh; /* Increase height for better visibility on mobile */
    border-radius: 10px; /* Ensure rounded corners on mobile */
  }

  .profile-details,
  .profile-summary {
    width: 100%; /* Full width for mobile view */
    padding: 0; /* Remove padding */
  }

  .profile-summary {
    /* grid-template-columns: 1fr;  */
    padding: 10px 0;
  }

  .summary-column {
    padding: 0; /* Remove padding on mobile */
  }

  .summary-column p {
    font-size: 1em; /* Slightly larger text for readability on mobile */
  }
}